@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

:root {
    --bs-primary: #E48131 !important;
    --bs-link-color: #E48131 !important;
}

body {
    font-family: 'Raleway', sans-serif;
}

.align-right {
    text-align: right;
}
